body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#sellButton {
    background-color: #f44336;
}

button#backButton {
    background-color: #555;
}

button#backButtonCompareAll {
    background-color: #555;
}

#teacherDetails {
    margin-top: 20px;
    text-align: center;
}

#teacherListItems li:hover {
    background-color: #e0e0e0;
}